services:
  - type: web
    name: backend
    env: node
    plan: free
    repo: https://github.com/allbrightrof/extractor
    branch: main
    rootDir: backend
    buildCommand: "npm install"
    startCommand: "npm start"